<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card card-body">
        <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" class="mx-auto">
          <form (submit)="submitLocation(cityName)">
              <div class="form-group">
                <input type="text" placeholder="Ciudad" class="form-control" autofocus #cityName>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-block mt-2">
                      Buscar
                  </button>
              </div>
          </form>
          <p class="text-right"><small class="text-muted">by Julian Alexis May Chan</small></p>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 mx-auto">
        <div *ngIf="weather" class="card card-body text-center">
          <h1 class="h4">Ciudad: {{weather.name}}</h1>
          <p>Temperatura: {{weather.main.temp}} °C</p>
          <p>Humedad: {{weather.main.humidity}}</p>
          <p>Presion: {{weather.main.pressure}}</p>
        </div>
      </div>
    </div>
</div>
